*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
background-color: #f7f4dd;
}

.navbar{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fffcf2;
    padding: 20px;
    margin-bottom: 15px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10px;
}

ul{ 
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

.bio-hero{
    flex-basis: 100%;
    background-color: #faf0ca;
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    text-align: center;
    padding: 15px;

}

.card-grid{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
}

.card{
    flex-basis: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.card1{
    background-color:#ae2012 ;
}

.card2{
    background-color:#ca6702 ;
}

.card3{
    background-color:#8cb369 ;
}

@media (min-width: 768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    .card-grid{
    flex-direction: row;
    justify-content: space-between;
    }
    .card{
        flex-basis: 30%;
    }
    .links{
        flex-direction: row;
    }
}

footer{
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #fffcf2;
}

.card:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}